.sidebar {
    position: fixed;
    top:0;
    left:0;
    width: 220px;
    padding: 20px;
    background-color: #f0f4f8;
    height: 100vh;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow:auto;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin-bottom: 12px;
}

.nav-list a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

.nav-list a:hover {
    background: #2c444c;
    padding:5px;
    border-radius: 5px;
    color:white;
    text-decoration: underline;
    transition-duration: 1s;

}



.active-link {
    color: #2e7d32;
    font-weight: bold;
    border-left: 4px solid #2e7d32;
    padding-left: 6px;
    background-color: #e8f5e9;
}

header{

    text-align:center;
    /*border:2px solid silver;*/
    border-radius:10px;
    background:#2c444c;
    padding:20px;
    color:#fff;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.3);
    margin-bottom:25px;

    /*making items breath*/

}
header p {
    opacity:.9;
}
.dashboard-container{
    display:flex;

}
.main-content{
    flex:1;
    margin-left:260px;
    padding:20px 30px;
    transition:margin-left 0.3s ease;
}

/*toggle button*/
.toggle-btn{
    position:absolute;
    top:15px;
    right: 1px;
    background: #2c444c;
    color:white;
    border:none;
    padding:6px;
    border-radius: 50%;
    cursor: pointer;
    font-size:18px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    z-index: 10;

}

/*Collapsed State*/
.sidebar.collapsed{
    width: 70px;
    padding: 20px 10px;
}
.sidebar.collapsed .nav-list a{
    justify-content:center;
}

.nav-list a{
    border-radius:6px;
    padding:10px;
    gap:12px;
    align-items:center;
    display:flex;
}

.nav-icon{
    font-size:22px;
}
/*
adjust main content*/
.main-content{
    margin-left: 260px;
    transition: margin-left 0.3s ease;
}
/*after collapsed*/
.sidebar.collapsed ~ .main-content{
    margin-left: 100px;
}
.sidebar.collapsed .toggle-btn{
    top:18px;
}

.user-profile{
    position:absolute;
    bottom: 20px;
    width:100%;
    text-align:center;
    padding:20px 0;
    border-top: 1px solid #ccc;
    background: #e6eef3;
}

.profile-pic{
    width:70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;

}

.user-name{
    margin:5px 0 0;
    font-size: 16px;
    font-weight: 600;
}

.user-role{
    margin: 0;
    font-size:13px;
    color: #666;
}

.sidebar.collapsed .user-info{
    display:none;
}

.sidebar.collapsed .profile-pic{
    width: 50px;
    height:50px;

}