.listings-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom: 20px;

}

.add-btn{
    padding: 8px 14px;
    background: #2c444c;
    color: white;
    border: none;
    border-radius: 6px;
    cursor:pointer;
}

.listings-grid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.no-change{
    margin:0 0 15px 0; /* top right bottom left */
    color: #7f8c8d;
    font-size: 16px;
    font-style: italic;
}



